body {
    background: transparent;
}

#header {
    padding: 20px;
    /*background: gold;*/
}

#randomInsert {
    margin: 50px 0;
}

#content {
    /*background: #fff;*/
    padding: 20px;
}

#edit-form {
    display: none;
    overflow-x: hidden;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background:#f5f5f5;
    padding: 20px;
    border-top: 1px solid #e7e7e7;
    color: #555;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    border-radius: 5px;
}